* {
    box-sizing: border-box;
}

body {
    background-color: #F3F2EE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
    display: flex;
    background-color: #FFF;
}

.nav {
    width: 93vw;
    margin: 0 auto;
    min-width: 280px;
    max-width: 1100px;
}

#header {
    display: flex;
    height: 7vw;
    max-height: 85px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#icone-linkedin {
    height: 4vw;
    max-height: 49px;
    width: auto;
    display: flex;
    align-items: center;
}

#icone-linkedin img {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.pesquisar {
    margin-left: 0.5vw;
    height: 4vw;
    max-height: 49px;
    width: 30vw;
    max-width: 341px;
    border-collapse: collapse;
    display: flex;
    align-items: center;
}

.pesquisar label {
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px inset rgb(34, 34, 34);
    border-bottom-color: gray;
    background-color: #F3F2EE;
    border-right: none;
}

#caixa-pesquisa {
    height: 4vw;
    max-height: 49px;
    width: 90%;
    font-size: 1.5vw;
    background-color: #F3F2EE;
    border-left: none;
}

.lista-icones nav ul {
    font-size: 0.6rem;
    display: flex;
    width: 40vw;
    max-width: 446px;
    justify-content: space-between;

}

.lista-icones nav li {
    width: 18%;
    opacity: 0.7;
}

.lista-icones nav ul li a {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lista-icones nav ul img {
    height: 2vw;
    max-height: 40px;
    width: 2vw;
    max-width: 40px;
    margin: 0 auto;
    margin-bottom: 1vw;
}

.eu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eu a {
    text-align: center;
}

.eu img {
   border-radius: 50%;
   height: 3vw;
   max-height: 54px;
   margin-bottom: 0.5vw; 
}

.container {
    width: 90vw;
    margin: 0 auto;
    min-width: 280px;
    max-width: 1100px;
}

main {
    font-family: "Rambla", sans-serif;
}

.topo {
    border-radius: 5px;
}

.foto {
    background-image: url(/assets/capa.jfif);
    background-size: cover;
    height: 18vw;
    max-height: 196px;
    position: relative;
}

.topo img {
    border-radius: 50%;
    height: 13vw;
    max-height: 155px;
    transform: translateY(60%);
    margin: 0 4vw;
}

.perfil {
    height: 24vw;
    max-height: 228px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3vw;
    padding-left: 2vw;
}

.perfil h1 {
    margin: 2vw 0;
    font-size: 1.15rem;
}

.perfil h4 {
    font-size: 0.9rem;
}

.perfil p {
    font-size: 0.75rem;
    margin: 1vw 0;
    
}

.local {
    opacity: 0.6;
}

.botoes {
    display: flex;
}

.botoes button:first-child {
    border: 1px solid #0B65C2;
    background-color: #0B65C2;
    color: #FFF;
}

.botoes button {
    border-radius: 20px;
    border: 1px solid #666666;
    font-size: 0.64rem;
    font-weight: 700;
    color: #666666;
    background-color: #FFF;
    padding: 4px 16px;
    margin-right: 1.5vw;
}

.conteudo {
    padding: 2.5vw 0;
}

.experiencia:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2.5vw;
}

.conteudo h2 {
    margin-bottom: 4vw;
    font-size: 0.9rem;
    margin-left: 2.5vw;
}

.conteudo a {
    display: flex;
}

.caixa, .caixa-2 {
    display: flex;
    margin-left: 2.5vw;
    margin-bottom: 6vw;
}

.icone-empresa, .icone-instituicao {
    height: 4vw;
    max-height: 48px;
    margin-right: 2.5vw;
}

.descricao-experiencia, .formacao {
    margin-bottom: 2vw;
}

.descricao-experiencia h3 {
    font-size: 0.75rem;
}

.descricao-experiencia p {
    font-size: 0.7rem
}

.periodo, .local-experiencia {
    opacity: 0.6;
}
















/* minimo pra responsividade: 769 */